<mat-toolbar color="Dark">
  <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </a>

  <span>ExamPortal</span>
  <span class="example-spacer"></span>

  <a 
    *ngIf="!isLogged"
    [routerLink]="'/login'" mat-flat-button class="example-icon favorite-icon ml10"
    aria-label="Example icon-button with heart icon">
    Login
  </a>
  <a 
    *ngIf="!isLogged"
    [routerLink]="'/signup'" mat-flat-button class="example-icon favorite-icon ml10"
    aria-label="Example icon-button with heart icon">
    Register
  </a>

  <a 
    (click)="logout()"
    *ngIf="isLogged"
    mat-flat-button class="example-icon favorite-icon ml10"
    aria-label="Example icon-button with heart icon">
    LogOut
  </a>
  <a 
  *ngIf="isLogged && user"
  mat-flat-button 
  routerLink="/admin/profile"
  class="example-icon favorite-icon ml10"
  aria-label="Example icon-button with heart icon">
  {{ user.username }}
</a>
</mat-toolbar>