.profile-box{
    max-width: 200px;
    max-height: 200px;
    border: 2.5px solid green;
    border-radius: 100px;
}

.table{
    width: 100%;
    border-collapse: collapse;
    
}

.table tr td {
    padding: 15px 10px;
    border: 0.5px solid #e2e2e2;
}
